/* ================ */
/* = The 1Kb Grid = */     /* 12 columns, 60 pixels each, with 10 pixel gutter */
/* ================ */

/* Find more here: http://1kbgrid.com/ */

.grid_1 { width:60px; }
.grid_2 { width:130px; }
.grid_3 { width:200px; }
.grid_4 { width:270px; }
.grid_5 { width:340px; }
.grid_6 { width:410px; }
.grid_7 { width:480px; }
.grid_8 { width:550px; }
.grid_9 { width:620px; }
.grid_10 { width:690px; }
.grid_11 { width:760px; }
.grid_12 { width:830px; }

.column {
	margin: 0 5px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 840px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -5px;
	width: auto;
	display: inline-block;
}

/* Extra junk */
body { margin: 10px 0 0 0; }

p {
	font:60px/100px Helvetica;
	color: #000;
	text-align: center;
	border: 1px solid #000;
	margin: 0 0 10px 0;
}


/*
<style type="text/css" media="screen">' . "\n" . 'body { margin: 10px 0 0 0; }' . "\n";
  $badges['css'] .= 'div.column { font:60px/100px Helvetica; color: #000; text-align: center; border: 1px solid #000; margin: 0 0 10px 0; float: left; }' . "\n";
  $badges['css'] .= '.grid_6 { width:410px; }' . "\n";
  $badges['css'] .= '.row { width: 840px; margin: 0 auto; overflow: hidden; }' . "\n";
  $badges['css'] .= '.row .row { margin: 0 -5px; width: auto; display: inline-block; }' . "\n";
  $badges['css'] .= 'p { height: 300px; } </style>
*/